@media (max-width:1250px) {

    .header {
        padding: 20px;
    }

    /*              Main         */
/*      Section Welcome      */

    .welcome {
        /* Fill section full screen*/
        padding: 220px 0;
        margin-top: -90px;
    }

    .welcome__subtitle {
        margin-bottom: 7px;
        font-size: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    .welcome__title {
        font-size: 54px;
        line-hieght: 67px;
    }

    .welcome__description {
        margin: 42px 0;
        font-size: 14px;
        opacity: 0.7;
    }

    .welcome__wrapper {
        width: 520px;
        margin-left: 40px;
    }
}

@media (max-width: 1174px) {

    /*Button and Button small*/

    .btn__small {
        width: 120px;
        height: 30px;

        font-size: 11px;
    }

    /*Product Section*/ 

    .product__card {
        width: 450px;
        min-height: 220px;    
    }

    .product__card .text {
        max-width: 180px;
        font-size: 12px;
    }

    .product__card:nth-child(odd) .text {
        margin-right: 10px; 
    } 

    .product__card:nth-child(even) .text {
        margin-left: 30px;
    } 

    .product__title {
        font-size: 20px;
    }

    /*Price Style */

    .price .now {
        font-size: 16px;
    }

    /* Footer  */

    .footer {
        padding: 115px 25px 120px;
    }

}

@media (max-width: 1100px) {
    .welcome {
        /* Fill section full screen*/
        padding: 160px 0;
    }

    .welcome__wrapper {
        width: 450px;
    } 
}

@media (max-width: 980px) {
    body {
        font-size: 13px;
    }

    .btn {
        font-size: 11px;
        width: 150px;
        height: 35px;
        border-radius: 4px;
    }

    /*      Welcome Section     */

    .welcome {
        /* Fill section full screen*/
        padding: 160px 0;
        margin-top: -90px;
    }

    .welcome__subtitle {
        margin-bottom: 5px;
        font-size: 11px;
    }

    .welcome__title {
        font-size: 44px;
        line-hieght: 54px;
    }

    .welcome__description {
        margin: 30px 0;
        font-size: 12px;
        opacity: 0.7;
    }

    .welcome__wrapper {
        width: 400px;
        margin-left: 40px;
        margin-top: 80px;
    }

    /*          Section  food list          */

    .top__order .conteiner {
        justify-content: center;
        column-gap: 50px;
    }

    .food__list{
        padding: 100px 0 90px;
    }

    .food__list__wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .food__item {
        width: 280px;
        border-radius: 10px;

    }

    .food__list__img {
        height: 190px;
        object-fit: cover; /*Fill image all width frame (div-block)*/
    }

    .food__title {
        font-size: 24px;
        margin: 28px 0 12px;
    }

    .food__description {
        opacity: 0.7;
        font-size:14px;
        padding: 0 19px 30px;
    }

    /*          Top Order Burder */

    .top__order {
        background-color: #312F30;
        padding: 60px 0 40px;
    }

    .top__order__text {
        max-width: 300px;
        margin-right: 92px;
    }

    .top__order__img {
        max-width: 400px;
        max-height: 350px;
    }

    .top__order__title {
        font-size: 36px;
    }

    .top__order__description {
        opacity: 0.7;
        margin: 20px 0 10px;
    }


    /*       Footer Section        */

    .footer__categories {
        justify-content: center;
        column-gap: 40px;
    }

}

@media (max-width: 670px) {

    /*  Default style */
    body {
        font-size: 12px;
    }

    .btn {

        width: 120px;
        height: 30px;
    }

    .btn__small {
        width: 100px;
        height: 20px;

        font-size: 9px;
    }

    /*      Header Section       */

    .header__link {
        font-size: 10px;
    }

    /*      Top Order       */

    .top__order .conteiner {
        justify-content: center;
    }

    .top__order__text {
        max-width: 240px;
        margin-right: 50px;
    }

    .top__order__title {
        font-size: 24px;
    }

    .top__order__img {
        max-width: 300px;
        max-height: 220px;
    }

    /*      Download Block      */

    .welcome {
        padding: 120px 0;
    }

    .download__menu {
        background-color: #312F30;
        padding: 40px 0;
    }

    .download__title {
        font-size: 24px;
    }

    /*      Footer Section       */
    .footer .conteiner {
        justify-content: space-around;
    }

    .footer__categories {
            display: none;
        }
}

@media (max-width: 480px){
    @media (max-width: 670px) {

    /*  Default style */
    body {
        font-size: 10px;
    }

    .btn {

        width: 100px;
        height: 30px;
    }

    .btn__small {
        width: 80px;
        height: 20px;

        font-size: 9px;
    }

    /*      Header Section       */

    .header .conteiner {
        justify-content: center;
        column-gap: 50%;
    }

    .header__nav {
        display: none;
    }

    /*      Top Order       */

    /* Welcome section      */

    .welcome {
        /* Fill section full screen*/
        padding: 150px 0;
        margin-top: -90px;
        min-height: 60vh;
    }

    .welcome__subtitle {
        margin-bottom: 5px;
        font-size: 12px;
    }

    .welcome__title {
        font-size: 24px;
        line-hieght: 54px;
    }

    .welcome__description {
        margin: 30px 0;
        font-size: 14px;
        opacity: 0.7;
    }

    .welcome__wrapper {
        width: 240px;
        margin-left: 40px;
        margin-top: 80px;
    }

    .top__order .conteiner {
        justify-content: center;
        font-size: 12px;
    }

    .top__order__text {
        max-width: 150px;
        margin-right: 40px;
    }

    .top__order__title {
        font-size: 24px;
    }

    .top__order__img {
        max-width: 240px;
        max-height: 128px;
        padding-left: 20px;
    }

    /*      Download Block      */


    .download__menu {
        background-color: #312F30;
        padding: 40px 0;
    }

    .download__title {
        font-size: 24px;
    }

    /*      Footer Section       */
    .footer .conteiner {
        justify-content: space-around;
    }

    .footer__categories {
            display: none;
        }
}

}
