@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*  Default style */
body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #1C1C1C;
    color: #ffffff;
}

.conteiner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-weight: 300;
}

ul {
    list-style: none;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* Button */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 45px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #F6762C;
}

.btn:hover{
    background-color: #d55307ff;
}

.btn__small {
    width: 140px;
    height: 40px;

    font-size: 12px;
}


/*  Section Header*/

.header {
    padding-top: 25px;

    position: reletive;
    z-index: 10;
}

.header .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Word links*/

.header__links {
    display: flex;
    gap: 28px;
}

.header__link {
    opacity: 0.7;
}

.header__link:hover {
    opacity: 1;
}

.header__link.action {
    opacity: 1;
    font-weight: bold;
}





/*              Main         */
/*      Section Welcome      */

.welcome {
    /* Fill section full screen*/
    box-sizing: border-box;
    min-height: 100vh;

    margin-top: -77px; /* Layout top 77px of header section (menu)*/
    padding: 240px 0;

    /*Background image*/
    background-image: url("./image/header.jpg");
    background-repeat: no-repeat; /*Delete duples image inline*/
    background-size: cover; /*Fill image all width screen*/
    background-position: center; /*position image center alwase */


}

.welcome__subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.welcome__title {
    font-size: 58px;
    line-hieght: 67px;
}

.welcome__description {
    margin: 42px 0;
    font-size: 18px;
    opacity: 0.7;
}

.welcome__wrapper {
    width: 550px;
}


/*          Section  food list          */

.food__list{
    padding: 115px 0 102px;
}

.food__list__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px 20px;
}

.food__item {
    width: 263px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;  /*Delete unlimite object*/
    background-color: #312F30;

}

.food__list__img {
    max-width: 100%;
    height: 175px;
    object-fit: cover; /*Fill image all width frame (div-block)*/
}

.food__title {
    font-size: 20px;
    margin: 28px 0 12px;
}

.food__description {
    opacity: 0.7;
    padding: 0 19px 30px;
}


/*          Top Order Burder */

.top__order {
    background-color: #312F30;
    padding: 70px 0 53px;
}

.top__order .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__order__text {
    max-width: 360px;
    margin-right: 92px;
}

.top__order__img {
    max-width: 472px;
    max-height: 420px;
}

.top__order__title {
    font-size: 44px;
}

.top__order__description {
    opacity: 0.7;
    margin: 20px 0 10px;
}

.price {
    color: #F6762C;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 10px 0;
    
}

.price .now {
    font-size: 20px;
}

.now + .sale {
    margin-left: 2px;
}

.price .sale {
  opacity: 0.5;
  text-decoration: line-through;
}

/*          Section Product Cards       */

.product {
    padding: 150px 0;
}

.product .conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px 30px;
}

.product__card {
    width: 555px;
    min-height: 300px;
    display: flex;
    align-items: center;
    background-color: #312F30;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product__card:nth-child(odd) {
    justify-content: flex-end;
    
}

.product__card:nth-child(even) {
    justify-content: flex-start;
    
}

.product__card .text {
    max-width: 250px;
}

.product__card:nth-child(odd) .text {
    margin-right: 25px; 
} 

.product__card:nth-child(even) .text {
    margin-left: 50px;
} 

.item-1 {
    background-image: url('./image/banner-list-1.jpg')
}

.item-2 {
    background-image: url('./image/banner-list-2.jpg')
}

.item-3 {
    background-image: url('./image/banner-list-3.jpg')
}

.item-4 {
    background-image: url('./image/banner-list-4.jpg')
}



.product__title {
    font-size: 30px;
}

.product__decription {
    margin: 20px 0 10px;
    opacity: 0.7;
}



/*      Feedback Block        */

.feedback {
    padding-bottom: 200px;
}

.feedback .conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 118px;
}

.feedback__text {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 368px;
    text-align: center;
}

.feedback__text:before {
    content: url('./icons/quote.svg');
    margin: 40px 0;
}

.feedback__description {
    opacity: 0.7;
}

.feedback__author {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    margin-top: 27px;
}

.feedback__subauthor {
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}


/*      Download Block      */

.download__menu {
    background-color: #312F30;
    padding: 60px 0;
}

.download__menu .conteiner {
    display: flex;
    justify-content: space-around;
}

.download__title {
    font-size: 40px;

}


/*      Footer Block      */

.footer {
    padding: 125px 0 150px;
}

.footer .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/*      Footer Block Contact     */

.footer__contact__list {
    margin: 0;
    margin-top: 22px;
}

.footer__contact__list li + li {
    padding-top: 10px;
}

.contact__link {
    font-size: 12px;
    text-transform: lowercase;
}

.contact__link:hover {
    color: #F6762C;
}

.contact__link.contact__link-mail:before {
    content: url('./icons/email.svg');
    padding-right: 10px;
}

.contact__link.contact__link-web:before {
    content: url('./icons/web.svg');
    padding-right: 10px;
}

/*      Footer Block Categories     */

.footer__categories {
    display: flex;
    max-width: 560px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    column-gap: 158px;
}

.footer__categories a {
    text-transform: capitalize;
}

.footer__block__list{
    opacity: 0.8;
}

.footer__block__list li + li {
    padding-top: 15px;
}

.footer__block__item a:hover {
    color: #F6762C;
}

.footer__block__title {
    font-size: 16px;
    font-weight: 600;
}

/*      Footer Block Social     */

.footer__social__list {
    display: flex;
    column-gap: 10px;
}